<h2>Busquedas</h2>
        <hr>
        <ul>
            <!--RouterLink me permite cambiar de paginas sin refrescar el navegador
            cuando existe el path vacio, necesitamos el linkActiveOptions-->
            <li routerLink=""
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="list-group-item">
                Buscar Pais
            </li>
            
            <li routerLink="region"
                routerLinkActive="active"
                class="list-group-item">
                Por Region
            </li>
           
            <li routerLink="capital"
                routerLinkActive="active" 
                class="list-group-item">Por Capital
            </li>

        </ul>